---
import Header from '../components/Header/Header.astro';
import	ProductsGrid from '../components/ProductsGrid/ProductsGrid.astro'
import "../global.css"
import { fetchAllProducts } from "../services/strapi.js";

const products = await fetchAllProducts();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header variante="v2"/>
		<ProductsGrid products={products}/>
		<h1>Astro</h1>
	</body>
</html>
