---
import styles from './Header2.module.css'
import Navigation from '../Navigation/Navigation.astro'
---

<header class={styles.header}>
    <div class={styles.logo_container}>
        <img src="/logo_header.jpg" class={styles.logo_image}>
    </div>
    <Navigation />
</header>